$medida-uno: 0.5rem;
$medida-dos: 1rem;
$medida-tres: 1.5rem;
$medida-cuatro: 2rem;
$medida-cinco: 2.5rem;
$medida-seis: 3rem;
$medida-siete: 3.5rem;
$medida-ocho: 5rem;
$medida-nueve: 1.7rem;
$medida-diez: 1.8rem;



